[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "simpr"]
	path = simpr
	url = https://github.com/statisfactions/simpr
[submodule "simpr.interaction"]
	path = simpr.interaction
	url = https://github.com/statisfactions/simpr.interaction
